@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto';
}

.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.img-fluid {
  width: 3em;
}

.active-status {
  color: #bec1bb;
  font-size: 13px;
}

.status p {
  margin: 0;
}

.new-chat {
  height: 150px;
  border-bottom: 2px solid #e8ebe4;
}

.new-chat button {
  width: 12rem;
  height: 3rem;
}

#active-box {
  border-bottom: 2px solid #e8ebe4;
}

#idle-box {
  border-bottom: 2px solid #e8ebe4;
  padding: 2px;
}

.chat-window {
  padding-top: 20rem;
}

.logo img {
  width: 250px;
  height: 250px;
}

.description p {
  margin: 0;
}

.btn-group i {
  color: #bec1bb;
}